#navi {
	left: 0px;
	right: 0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	height: 45px;
}

#navi2{
	float: left;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 15px;

}

#navi3{
	color: white								!important;
}
#navi4{
	color: white;
    list-style: square;
    float: none;	
	width: 100%;
}
#navi5{
	list-style-type: square;
	color: white;
}

#navspan{
	color: white                                !important;
	cursor: pointer;
    text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: ;
  display: ;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}